# 1. Register an application with Twitter
# 2. Generate access tokens for yourself
# 3. Copy this file as auth_secrets.py
# 4. Add the consumer key and access token details to auth_secrets.py
# 5. Make sure you keep auth_secrets.py private!

consumer_key = ""
consumer_secret = ""
access_token_key = ""
access_token_secret = ""
